# OS clutterassets
Thumbs.db
desktop.ini
.DS_Store

# Editors
.claude/
.vscode/
.idea/
*.swp

# Python (in case you ever un-ignore tools/)
__pycache__/
*.pyc

#Others

reference/
assets/home/
assets/bio/
assets/web/hemisphere/legacy/hisplegacy_podcast.mp3
assets/web/hemisphere/legacy/iglesia_var.png